.container-popup {
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  background-color: #ccccccb3;
}
.grid-popup {
  margin-top: 25px;
  margin-bottom: 25px;
  min-height: 780px;
  // height: 50%;
  //   overflow: hidden;
  //   min-height: 1000px;
  width: 800px !important;
  border-radius: 8px;
  background-color: var(--white-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px 20px;
}
//header
.close {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}
.close-icon {
  font-size: 25px;
  display: flex;
  justify-content: flex-end;
  fill: rgb(255, 73, 73);
}

//inner popup
.title-popup {
  font-weight: 500;
  font-size: 18px;
  color: var(--black-color);
}
textarea {
  resize: none;
  min-height: 100px !important;
  min-width: 100%;
}

.input-form {
  border: 1px solid #ccc;
  padding: 4px 10px;
  border-radius: 4px;
}
.input-form-name {
  width: 100%;
}

.product-img {
  width: 100%;
  border: 1px solid #ccc;
}
//btn-submit-div
.btn-submit-div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.btn-submit {
  margin-bottom: 20px;
  padding: 4px 40px;
  font-size: 16px;
  border: none;
  background-color: #43a047;
  color: var(--white-color);
  border-radius: 4px;
  cursor: pointer;
  /* From https://css.glass */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.8);
}
